::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
    height: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

/* CSS for firstNavBar */
#firstNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 10px 70px;
    width: 100vw;
    position: relative;
}

#firstNavBar>a>img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

#firstNavBar>ul {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#firstNavBar>ul>li {
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    color: rgb(167, 167, 167);
    cursor: pointer;
    transition: all 0.2s;
}

#firstNavBar>ul>li:hover {
    color: white;
    text-shadow: white;
}

#firstNavBar>a>i {
    color: white;
}

/* CSS for dropdowns of firstNavBar */
#storeDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
}

#storeDropdownMenu a {
    text-decoration: none;
}

#storeDropdownMenu>div {
    margin: 0 33px;
}

#macDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#macDropdownMenu a {
    text-decoration: none;
}

#macDropdownMenu>div {
    margin: 0 33px;
}

#iPadDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#iPadDropdownMenu a {
    text-decoration: none;
}

#iPadDropdownMenu>div {
    margin: 0 33px;
}

#iPhoneDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#iPhoneDropdownMenu a {
    text-decoration: none;
}

#iPhoneDropdownMenu>div {
    margin: 0 33px;
}

#watchDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#watchDropdownMenu a {
    text-decoration: none;
}

#watchDropdownMenu>div {
    margin: 0 33px;
}

#airPodsDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#airPodsDropdownMenu a {
    text-decoration: none;
}

#airPodsDropdownMenu>div {
    margin: 0 33px;
}

#tvDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#tvDropdownMenu a {
    text-decoration: none;
}

#tvDropdownMenu>div {
    margin: 0 33px;
}

#entertainmentDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#entertainmentDropdownMenu a {
    text-decoration: none;
}

#entertainmentDropdownMenu>div {
    margin: 0 33px;
}

#accessoriesDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#accessoriesDropdownMenu a {
    text-decoration: none;
}

#accessoriesDropdownMenu>div {
    margin: 0 33px;
}

#supportDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#supportDropdownMenu a {
    text-decoration: none;
}

#supportDropdownMenu>div {
    margin: 0 33px;
}

/* Utility for firstNavBar */
.firstColumnDropdown {
    line-height: 30px;
}

.firstColumnDropdown h6 {
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 13px;
    padding: 10px 0;
}

.firstColumnDropdown a {
    text-decoration: none;
    color: white;
}

.firstColumnDropdown h3 {
    font-size: 23px;
    margin: 10px 30px 0 0;
}

.subsequentColumnDropdown {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.subsequentColumnDropdown h6 {
    padding: 10px 0;
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 13px;
}

.subsequentColumnDropdown a {
    text-decoration: none;
    color: white;
}

.subsequentColumnDropdown h3 {
    font-size: 12px;
}

#blurBackground {
    background: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1500;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.3s;
}

/* CSS for making dropdowns visible on hover */
#firstNavBar:has(li:nth-child(1):hover)~#storeDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(1):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(2):hover)~#macDropdownMenu {
    display: flex;
    opacity: 1;
    height: 75vh;
}

#firstNavBar:has(li:nth-child(2):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(3):hover)~#iPadDropdownMenu {
    display: flex;
    opacity: 1;
    height: 75vh;
}

#firstNavBar:has(li:nth-child(3):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(4):hover)~#iPhoneDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(4):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(5):hover)~#watchDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(5):hover)~#blurBackground {
    opacity: 1;
}

/* Note: nth-child(6) has no dropdown menu. */

#firstNavBar:has(li:nth-child(7):hover)~#airPodsDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(7):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(8):hover)~#tvDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(8):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(9):hover)~#entertainmentDropdownMenu {
    display: flex;
    opacity: 1;
    height: 85vh;
}

#firstNavBar:has(li:nth-child(9):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(10):hover)~#accessoriesDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(10):hover)~#blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(11):hover)~#supportDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}

#firstNavBar:has(li:nth-child(11):hover)~#blurBackground {
    opacity: 1;
}



/* CSS for secondNavBar */
#secondNavBar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 90px;
    width: 100vw;
    color: white;
}

#secondNavBar>h2 {
    font-weight: 500;
}

#secondNavBar>button {
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 22px;
    padding: 6px 10px;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#page1::before {
    content: '';
    background: url('/static/portrait_base.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page1>h3 {
    color: #6E6E73;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    bottom: 80px;
}

#page1 img {
    width: 53px;
    height: 53px;
}

#page1>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

#page1>div>h1 {
    font-size: 58px;
    font-weight: 600;
}

.page {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page>div>h2 {
    font-size: 46px;
    margin-top: 204px;
    margin-bottom: 100px;
}

.page>div>video {
    width: 92vw;
    height: 118vh;
}

.page-without-video>div>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page-without-video>div>div>img {
    width: 85px;
    height: 85px;
}

.page-without-video>div>div>h1 {
    font-size: 95px;
    font-weight: 600;
}

.page-without-video>div>div>a>h5 {
    color: #FF5A00;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 22px;
    margin: 10px;
    gap: 2px;
}

.page-without-video>div>div:nth-child(3)>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all ease 0.4s;
}

.page-without-video>div>div:nth-child(3)>a:hover {
    transform: scale(1.04);
}

.page-without-video>div>h4 {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

.page-without-video>div>img {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.page-without-video>div>button {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all ease 0.5s;
    padding: 1rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 150px;
}

.page-without-video>div>button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

#page-7,
#page-9,
#page-11,
#page-14 {
    background-color: #F5F5F7;
}

.page-with-video-text {
    padding-top: 200px;
}

.page-with-video-text>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-with-video-text>div>h6 {
    font-size: 25px;
}

.page-with-video-text>div>h3 {
    font-size: 60px;
    line-height: 80px;
}

.page-with-video-text>div>h3:nth-child(3) {
    margin-bottom: 80px;
}

.page-with-video-text>div:nth-child(2) {
    padding-bottom: 10rem;
}

/*  */
.bottom-div-page {
    width: 100vw;
}

.bottom-div-page>div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.bottom-div-page>div>h6 {
    font-size: 30px;
    padding: 10px;
    margin: 30px;
    width: 20%;
}

.bottom-div-page>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #86868B;
    gap: 20px;
    width: 40%;
}

.bottom-div-page>div>div>h6 {
    font-weight: 600;
    word-spacing: -2px;
}

.bottom-div-page>div>div>button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 30px;
    align-self: flex-start;
    margin-top: 2rem;
    margin-left: 1rem;
}

.bottom-div-page>div>div>button:hover {
    background-color: #FE6918;
}

#page-11>div>h3 {
    font-size: 5rem;
    margin: 1rem 0;
}

#page-11>div>h4 {
    padding: 2rem 15rem;
    font-size: 23px;
    font-weight: 500;
    color: #86868B;
}

#page-11>div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

#left-div-page-11 {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    color: #86868B;
    font-weight: 600;
    font-size: 1.4rem;
    gap: 2rem;
    padding-bottom: 30vh;
}

#left-div-page-11>div>span {
    color: black;
}

#right-div-page-11 {
    width: 50%;
}

#right-div-page-11>img {
    height: 210vh;
    object-fit: cover;
    position: absolute;
    top: 100vh;
    right: -25vw;
}

#page-12>img {
    width: 90vw;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#page-12>div {
    width: 90vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#page-12>div>h5 {
    color: #86868B;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    font-weight: 600;
    align-self: flex-start;
}

#page-12>div>h5>span {
    color: black;
}

#second-div-page-12 {
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: -3rem;
}

#second-div-page-12>img {
    width: 48.5%;
    object-fit: cover;
}

#page-13>div>h3 {
    margin: 6rem;
    width: 50%;
    align-self: center;
    color: #86868B;
    font-weight: 600;
    font-size: 1.3rem;
}

#page-13>div>h3>span {
    color: black;
}

#page-13>div>img {
    width: 90vw;
    margin-top: 5rem;
}

#second-div-page-13>button {
    position: absolute;
    bottom: 7%;
    left: 37%;
    background-color: orangered;
    color: white;
    border: none;
    padding: 15px 35px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 30px;
}

#second-div-page-13>button:hover {
    background-color: #FE6918;
}