* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* CSS for firstNavBar */
#firstNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 10px 70px;
    width: 100vw;
    position: relative;
}

#firstNavBar>a>img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

#firstNavBar>ul {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#firstNavBar>ul>li {
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    color: rgb(167, 167, 167);
    cursor: pointer;
    transition: all 0.2s;
}

#firstNavBar>ul>li:hover {
    color: white;
    text-shadow: white;
}

#firstNavBar>a>i {
    color: white;
}

/* CSS for dropdowns of firstNavBar */
#storeDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
}

#storeDropdownMenu a {
    text-decoration: none;
}

#storeDropdownMenu>div {
    margin: 0 33px;
}

#macDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#macDropdownMenu a {
    text-decoration: none;
}

#macDropdownMenu>div {
    margin: 0 33px;
}

#iPadDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#iPadDropdownMenu a {
    text-decoration: none;
}

#iPadDropdownMenu>div {
    margin: 0 33px;
}

#iPhoneDropdownMenu {
    position: absolute;
    z-index: 2000;
    background-color: #161617;
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    width: 100vw;
    height: 0vh;
    transition: all 0.3s;
    opacity: 0;
    overflow-y: scroll;
}

#iPhoneDropdownMenu a {
    text-decoration: none;
}

#iPhoneDropdownMenu>div {
    margin: 0 33px;
}

/* Utility for firstNavBar */
.firstColumnDropdown {
    line-height: 30px;
}

.firstColumnDropdown h6 {
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 13px;
    padding: 10px 0;
}

.firstColumnDropdown a {
    text-decoration: none;
    color: white;
}

.firstColumnDropdown h3 {
    font-size: 23px;
    margin: 10px 30px 0 0;
}

.subsequentColumnDropdown {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.subsequentColumnDropdown h6 {
    padding: 10px 0;
    color: rgb(167, 167, 167);
    font-weight: 200;
    font-size: 13px;
}

.subsequentColumnDropdown a {
    text-decoration: none;
    color: white;
}

.subsequentColumnDropdown h3 {
    font-size: 12px;
}

#blurBackground {
    background: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1500;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.3s;
}

/* CSS for making dropdowns visible on hover */
#firstNavBar:has(li:nth-child(1):hover) ~ #storeDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}
#firstNavBar:has(li:nth-child(1):hover) ~ #blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(2):hover) ~ #macDropdownMenu {
    display: flex;
    opacity: 1;
    height: 75vh;
}
#firstNavBar:has(li:nth-child(2):hover) ~ #blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(3):hover) ~ #iPadDropdownMenu {
    display: flex;
    opacity: 1;
    height: 75vh;
}
#firstNavBar:has(li:nth-child(3):hover) ~ #blurBackground {
    opacity: 1;
}

#firstNavBar:has(li:nth-child(4):hover) ~ #iPhoneDropdownMenu {
    display: flex;
    opacity: 1;
    height: 65vh;
}
#firstNavBar:has(li:nth-child(4):hover) ~ #blurBackground {
    opacity: 1;
}



/* CSS for secondNavBar */
#secondNavBar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 90px;
    width: 100vw;
    color: white;
}

#secondNavBar>h2 {
    font-weight: 500;
}

#secondNavBar>button {
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 22px;
    padding: 6px 10px;
}

#page1 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

#page1::before {
    content: '';
    background: url('/public/static/portrait_base.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}