* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#topHeader {
    position: relative;
}

#firstNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 10px 70px;
    width: 100vw;
    position: relative;
}

#firstNavBar>a>img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

#firstNavBar>ul {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#firstNavBar>ul:hover {
    cursor: default;
}

#firstNavBar>ul>li {
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    color: rgb(167, 167, 167);
}

#firstNavBar>ul>li:hover {
    cursor: default;
}

#firstNavBar>a>i {
    color: white;
}

#secondNavBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 90px;
    width: 100vw;
    color: white;
}

#secondNavBar>h2 {
    font-weight: 500;
}

#secondNavBar>button {
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 22px;
    padding: 6px 10px;
}

#page1 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

#page1::before {
    content: '';
    background: url('/public/static/portrait_base.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}